// variables
  //font settings
  //colour settings

//styles
//dashboard ui section
.dash-section
  background-color: coral

// big and medium text
h1, h2
  //float: left
  text-align: left

// ui link texts
a h1, a h2
  text-decoration: none
  text-
  color: white
  padding: 10px

// to clean link styles
a:hover, a:visited, a:link, a:active
  text-decoration: none
